*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 200%;
    width: 100%;
    /* background-color: aqua; */
}

#mainImg{
    height: 150%;
    width: 100%;
    background: url(image1.png) repeat-y center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#section1, #section2, #section3 {
    border: solid black 2px;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    text-align: center;
}

#img2, #img3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img2 img, #img3 img {
    width: 100%;
}

#ParallaxName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 2em;
    font-weight: bold;
    color: white; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
}